*/Library/
*.mp4
*.ogg
*/Assembly-CSharp*.csproj
Edits/
*.ogg.meta
*/Temp/
Thumbs.db.meta
*.psd
*.swatch
*.swatches
*.vma
*/Prompter/
Content/
Source/
*.sublime-workspace
*/Assets/PlayMaker/Editor/Install/
*/obj/
*/.vs/
Nature Lad/Assets/ExampleAssets/
Nature Lad/Assets/TutorialInfo/
Nature Lad/Assets/ExampleAssets.meta
Nature Lad/Assets/TutorialInfo.meta
Nature Lad/Assets/Invector-3rdPersonController/Basic Locomotion/Resources/vMobileAddon.unitypackage
Nature Lad/Assets/Invector-3rdPersonController/Basic Locomotion/Resources/vMobileAddon.unitypackage.meta
Nature Lad/Assets/Invector-3rdPersonController/Basic Locomotion/Resources/vPointClickAddon.unitypackage
Nature Lad/Assets/Invector-3rdPersonController/Basic Locomotion/Resources/vPointClickAddon.unitypackage.meta
builds/
