*/Library/
*.mp4
*.ogg
*/Assembly-CSharp*.csproj
Edits/
*.ogg.meta
*/Temp/
Thumbs.db.meta
*.psd
*.swatch
*.swatches
*.vma
*/Prompter/
Content/
Source/
*.sublime-workspace
*/Assets/PlayMaker/Editor/Install/
*/obj/
*/.vs/
